.App{
    text-align: center;
    margin-top: 2rem;

}
.App img{
    width: 200px;

}
.container{
    background: #02AABD;
background: linear-gradient(#02AABD, #00CDAC);
/* height: 200px; */
width: 26%;
min-width: 380px;
margin: 1rem auto 0;
display: flex;
flex-wrap: wrap;
border-radius: 1.5rem;
padding-bottom: 1rem;
}